{% extends "biddingsystem/layout.html" %} 

{% load static %}

{% block title %} 
    Home 
{% endblock %}

<!-- {% if not won_listings %}
  <h2>Active Listings</h2>
{% else %}
  <h2>Listings you have won</h2>
{% endif %} -->

  <!-- {% for listing in listings %} -->


       <!-- {% if listing.is_closed %} -->
      <!-- <p>Sold for: ${{ listing.current_price }}</p> -->
      <!-- {% else %} -->

            <!-- {% endif %} -->


              <!-- {% endfor %} -->


{% block body %}
<div class="active__listingsContainer">
  {% for listing in listings %}
    <div class="active__listing">
      <div class="active__listingLeft">
        {% with listing.image_url as image %}
        <img class="active__listingImage" src="{% static image %}" alt="" />
        {% endwith %}
      </div>
      <div class="active__listingRight">
        <div class="active__listingRightTop">
          <h3>{{ listing.title }}</h3>
          <p>{{ listing.description }}</p>
        </div>
        <p>{{ listing.current_price }}</p>
        <a href="{% url 'listing' listing.listing_id %}">View Listing</a>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
