{% extends "biddingsystem/layout.html" %} 

{% load static %}

{% load filters %}

{% block title %} 
    {{ name }}
{% endblock %} 

{% block body %} 
    <div class="profile">
        <div class="profile__credentials">
            <strong class="profile__credentials_name">
                {{ profile.first_name}}
            </strong>
            <p class="profile__credentials_username">@{{ profile.username }}</p>
        </div>
        <div class="profile__follow">
            <script>
                sendAlert();
            </script>
            {% if not self_profile %}
            {% if not follow %}
            <button id="follow_button" onclick="followUser(this,event)" data-followed="{{ profile.username }}" data-follower="{{ user.username }}">Follow</button>
            {% else %}
            <button id="follow_button" onclick="unFollowUser(this,event)" data-followed="{{ profile.username }}" data-follower="{{ user.username }}">Unfollow</button>
            {% endif %}
            {% endif %}
        </div>
        <div class="profile__details">
            <div class="profile__details__followers">
                <p class="followers__heading">Followers</p>
                <p id="followers_count" class="followers__count">{{ followers }}</p>
            </div>
            <div class="profile__details__following">
                <p class="following__heading">
                    Following
                </p>
                <p class="following__count">
                    {{ following }}
                </p>
            </div>
            <div class="profile__details__listings">
                <p class="listings__heading">Listings</p>
                <p class="listings__count">{{ no_of_listings }}</p>
            </div>
        </div>
    </div>
    {% if self_profile %}
    <div class="wallet">
        <div class="wallet__details">
            <p class="wallet__credit_heading">Wallet Credit</p>
            <p class="wallet__credit__amount">Rs. {{ wallet_credit }}</p>
        </div>
        <form action="{% url 'topup' %}" method="POST">
            {% csrf_token %}
            <input type="number" placeholder="Enter topup amount" name="topup_amount">
            <input type="submit" value="Top Up" name="topup">
        </form>
    </div>
    {% endif %}
    <div class="active__listingsContainer">
        {% for listing in listings %}
          <div class="active__listing">
            <div class="active__listingLeft">
                {% with listing.image_url as image %}
              <img class="active__listingImage" src="{% static image %}" alt="" />
              {% endwith %}
            </div>
            <div class="active__listingRight">
              <div class="active__listingRightTop">
                <h3>{{ listing.title }}</h3>
                <p>{{ listing.description }}</p>
              </div>
              <p>Rs. {{ listing.current_price }}</p>
              <a href="{% url 'listing' listing.listing_id %}">View Listing</a>
            </div>
          </div>
          {% endfor %}
        </div>
{% endblock %}